<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQuGgVGK3NkLFjiRsxF6LTcpXxEDwt4CU</string>
	<key>GCM_SENDER_ID</key>
	<string>43844536936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ensdim.landscape</string>
	<key>PROJECT_ID</key>
	<string>ensdim-landscape-system</string>
	<key>STORAGE_BUCKET</key>
	<string>ensdim-landscape-system.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43844536936:ios:7cf3c87637ca1af96dc9dd</string>
</dict>
</plist>